apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "initControlPlaneQueueDatabaseJob.fullname" . }}
  labels: {{- include "initControlPlaneQueueDatabaseJob.labels" . | nindent 4 }}
spec:
  template:
    metadata:
      name: create-cp-queue-database
    spec:
      serviceAccountName: tembo-conductor
      containers:
        - name: kubectl
          image: "k8s.gcr.io/hyperkube:v1.12.1"
          imagePullPolicy: "IfNotPresent"
          command:
            - /bin/sh
            - -c
            - >
              sleep 10;
              kubectl create -f - <<EOF
                apiVersion: coredb.io/v1alpha1
                kind: CoreDB
                metadata:
                  name: control-plane-queue
                spec:
                  stop: false
                  stack:
                    name: MessageQueue
                    postgres_config:
                      - name: shared_preload_libraries
                        value: pg_stat_statements,pg_partman_bgw
                      - name: pg_partman_bgw.dbname
                        value: postgres
                      - name: pg_partman_bgw.interval
                        value: "60"
                      - name: pg_partman_bgw.role
                        value: postgres
                      - name: random_page_cost
                        value: "1.1"
                      - name: autovacuum_naptime
                        value: "20s"
                      - name: autovacuum_vacuum_cost_limit
                        value: "10000"
                      - name: autovacuum_vacuum_scale_factor
                        value: "0.05"
                      - name: autovacuum_vacuum_insert_scale_factor
                        value: "0.05"
                      - name: autovacuum_analyze_scale_factor
                        value: "0.05"
                      - name: track_io_timing
                        value: "on"
                      - name: checkpoint_timeout
                        value: "10min"
                      - name: pg_stat_statements.track
                        value: all
                  trunk_installs:
                    - name: pgmq
                      version: 0.14.2
                    - name: pg_partman
                      version: 4.7.3
                  extensions:
                    - name: pgmq
                      locations:
                        - database: postgres
                          enabled: true
                          version: 0.14.2
                    - name: pg_partman
                      locations:
                        - database: postgres
                          enabled: true
                          version: 4.7.3
              EOF

      restartPolicy: OnFailure

