apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "initControlPlaneDatabaseJob.fullname" . }}
  labels: {{- include "initControlPlaneDatabaseJob.labels" . | nindent 4 }}
spec:
  template:
    metadata:
      name: create-cp-database
    spec:
      serviceAccountName: {{ include "initControlPlaneDatabaseJob.fullname" . }}
      containers:
        - name: kubectl
          image: "k8s.gcr.io/hyperkube:v1.12.1"
          imagePullPolicy: "IfNotPresent"
          command:
            - /bin/sh
            - -c
            - >
              sleep 10;
              kubectl create -f - <<EOF
                apiVersion: coredb.io/v1alpha1
                kind: CoreDB
                metadata:
                  name: control-plane
                spec:
                  stop: false
                  runtime_config:
                    - name: shared_preload_libraries
                      value: 'pg_cron,pg_stat_statements'
                    - name: pg_stat_statements.track
                      value: top
                  trunk_installs:
                    - name: pgmq
                      version: 0.14.2
                    - name: pg_partman
                      version: 4.7.3
                    - name: temporal_tables
                      version: 1.2.2
                    - name: pg_cron
                      version: 1.6.2
                  extensions:
                    - name: pg_stat_statements
                      locations:
                        - database: postgres
                          enabled: true
                          version: 1.10.0
                    - name: pgmq
                      locations:
                        - database: postgres
                          enabled: true
                          version: 0.14.2
                    - name: temporal_tables
                      locations:
                        - database: postgres
                          enabled: true
                          version: 1.2.2
                    - name: pg_cron
                      locations:
                        - enabled: true
                          database: postgres
                          schema: public
                          version: 1.6.2
              EOF

      restartPolicy: OnFailure

